$bg : #F0F0F0;
$text : #2C2B31;
$bg_und: #FFD1AC;
@font-face {
  font-family: "Gotham Pro";
  src: url("./../fonts/GothamPro.ttf");
}
@font-face {
  font-family: "Gotham Pro-medium";
  src: url("./../fonts/GothamPro-Medium.ttf");
}
@font-face {
  font-family: "Gotham Pro-bold";
  src: url("./../fonts/GothamPro-Bold.ttf");
}